*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
  width: 80%;
  text-align: center;
}

.App h1{
  font-size: 3em;
  letter-spacing: 3px;
}

.search {
  display: inline-block;
  text-align: center;
}
.cards{
  margin: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 250px));
  gap: 1em;
  padding: 1em;
}

.card{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(78, 78, 78, .4);
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  cursor: pointer;
}

.image{
  font-size: 3em;
}
